* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chose {
  display: flex;
  gap: 4px;
}
.result {
  margin-top: 50px;
  background: #ddd;
  padding: 10px;
}
