body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#slider-container {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.slider-image {
  width: 400px;
  object-fit: cover;
}

#prev-btn,
#next-btn {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}
