* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slide-wrapper {
  width: 660px;
  height: 200px;
  margin: 0 auto;
  /* border: 1px solid crimson; */
  position: relative;
  overflow: hidden;
}
.slides {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slides li {
  float: left;
  width: 200px;
  height: 200px;
  background: #ccc;
}
.slides li:not(:last-child) {
  margin-right: 30px;
}

.controls {
  margin-top: 50px;
  text-align: center;
}
.controls span {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}
