@import url("./reset.css");
@import url("./font.css");

/* common*/
body {
  font-family: ebunga;
}
main {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  margin: 0 auto;
  height: 120px;
}
header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 1240px;
  margin: 0 auto;
}
header .bar {
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
header .bunga img {
  width: 94px;
  height: 40px;
}
header .search {
  background: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 30px;
  width: 510px;
  height: 50px;
}
header #search {
  border: none;
  width: 140px;
  height: 49px;
  background: transparent;
  text-align: center;
  font-family: ebunga;
  font-size: 16px;
}
header #search-bar {
  width: 297px;
  height: 43px;
  text-align: center;
  font-size: 16px;
  font-family: ebunga;
  background: transparent;
  border: 0;
}
header .manify {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #eb3d40;
}
header #ranking {
  border: none;
  font-family: ebunga;
  font-style: italic;
  font-size: 16px;
  width: 156px;
  height: 24px;
}
header #right {
  display: flex;
  gap: 40px;
}
header .top-right {
  font-size: 30px;
}
nav {
  width: 100%;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

nav #servicelink {
  display: flex;
  margin: 0 auto;
  width: 1240px;
  height: 66px;
  justify-content: space-between;
  line-height: 66px;
  text-align: center;
}
#servicelink img {
  width: 67px;
  height: 20px;
  margin-top: 23px;
}
nav ul {
  display: flex;
  gap: 25px;
  font-size: 17px;
}
#logon {
  display: flex;
  gap: 30px;
  font-size: 15px;
}

/*section*/
section {
  width: 100%;
  height: 100%;
  margin-top: 65px;
}
#article-main {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: url("./img/1.main/mainome.jpg") center no-repeat #876a60;
  position: relative;
}

/*main*/
section #article-main #main-badge {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 290px;
  height: 45px;
  font-size: 30px;
  right: 20px;
  bottom: 15px;
  color: #fff;
}
#main-badge .fa-circle-pause {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  background: #807972;
}
#main-badge .plus {
  display: flex;
  background: #807972;
  width: 130px;
  height: 50px;
  line-height: 50px;
  border-radius: 30px;
}
#main-badge .plus > p {
  margin-left: 10px;
}
#main-badge span > i {
  padding: 10px;
}
#main-badge .left-right {
  background: #807972;
  border-radius: 30px;
  padding-left: 4px;
}

/*article top*/
#article-top {
  width: 1240px;
  margin: 55px auto;
}
#article-top .imgtop {
  display: flex;
  gap: 25px;
  margin: 30px 0;
}
#article-top .imgtop .wimg {
  width: 608px;
  height: 310px;
}
#article-top .imgtop img {
  width: 292px;
  height: 310px;
}
#article-top .imgbottom {
  display: flex;
  gap: 25px;
}
#article-top .imgbottom img {
  width: 292px;
  height: 310px;
}
#article-top .imgbottom .wimg {
  width: 608px;
  height: 310px;
}
#articlebottom {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}
#articlebottom div {
  width: 100px;
  height: 125px;
  text-align: center;
}
#articlebottom img {
  width: 90px;
  height: 90px;
}

/*concentrate*/
#concentrate {
  width: 100%;
  height: 560px;
  background: #f6f7fb;
}
#concentrate h2 {
  width: 1240px;
  margin: 0 auto;
  padding: 55px 30px 25px;
}
#eye {
  width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  gap: 30px;
}
#eye .product {
  width: 400px;
  height: 410px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
#eye .product img {
  width: 360px;
  height: 190px;
  margin: 0 auto 25px;
}
#eye .product .produt-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 5px;
}
#eye .product .produt-info div:nth-child(2) span:first-child {
  color: #ef6768;
  font-size: 25px;
}
#eye .product .produt-info div:nth-child(2) span:nth-child(2) {
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}
#eye .product .produt-info div:nth-child(2) span:nth-child(3) {
  color: #a9a9a9;
  text-decoration: line-through;
  padding-left: 10px;
}
#eye .product .produt-info div:last-child {
  margin-top: 90px;
  display: flex;
  gap: 230px;
  font-size: 14px;
  color: #686868;
  border-top: 1px solid #f4f4f4;
  padding-top: 10px;
}
