* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* common */

.background {
  background: url("./img/background.png");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerbox {
  background: url("./img/outerbox.png") center/cover no-repeat;
  width: 808px;
  height: 544px;
  position: relative;
}
.wrapper {
  display: flex;
  padding: 32px 0 0 32px;
}

/* wrapper_ left */

.wrapper_left {
  width: 208px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-right: 8px;
}
.wrapper_left_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}
.zero {
  color: crimson;
}
.wrapper_left_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px 0;
}
.left_body_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left_body_header_gray {
  background: url("./img/iu.jpg") center/cover no-repeat;
  width: 148px;
  height: 133px;
}
.left_body_header_line {
  width: 80%;
  border-top: 1px dotted #000;
  margin: 12px 0;
}
.left_body_profile {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.profile_detail {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #999;
  margin-bottom: 10px;
}
.fab,
.fas {
  color: #000;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  padding-top: 5px;
}
.profile_detail span {
  font-size: 16px;
}
.left_body_footer {
  width: 100%;
}
.wrapper_feel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.wrapper_feel select {
  width: 170px;
  height: 24px;
  outline: none;
  text-align: center;
  border-radius: 8px;
}
/* wrapper_rigth */
.wrapper_right {
  width: 524px;
  height: 472px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  gap: 10px;
}
.wrapper_rigth_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  color: #55b2e4;
}
.right_header_title {
  font-size: 18px;
}
.fa-caret-right {
  color: #55b2e4;
}
.wrapper_right_body {
  width: 510px;
  height: 445px;
  border: 1px solid gray;
  background: #fff;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* wrapper_navigation */
.navigation {
  width: 70px;
  height: 110px;
  position: absolute;
  top: 20%;
  right: -69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation_item {
  width: 100%;
  height: 33px;
  background: #55b2e4;
  border-radius: 0 8px 8px 0;
  text-align: center;
  line-height: 33px;
  color: #fff;
  border: 1px solid #000;
  font-size: 13px;
  cursor: pointer;
}
