* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrap {
  width: 1200px;
  border: 1px solid #000;
  margin: 0 auto;
}
header {
  background: tomato;
  padding: 2.6%;
  text-align: center;
}
section {
  display: flex;
  flex-direction: row;
}
section aside,
main,
nav {
  border: 1px solid #000;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  flex: 1;
  background: yellow;
}
main {
  flex: 4;
  background: gray;
}
nav {
  flex: 1;
  background: green;
}

footer {
  background: skyblue;
  padding: 2.6%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #wrap {
    width: 100%;
  }
  section {
    flex-direction: column;
  }
  aside {
    order: 2;
  }
  main {
    order: 1;
  }
  nav {
    order: 3;
  }
}
