* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: #663399;
  color: #fff;
  padding: 15px;
  z-index: 1;
  transition: all 0.3s;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  background: #639;
  height: 100vh;
  padding: 2em;
  transform: translateX(100%);
  transition: transform 0.3s;
}
nav li {
  padding: 1rem 0;
}
nav li a {
  color: #fff;
}
nav.active {
  transform: translateX(0);
}
button.active {
  transform: translateX(-110px);
}
