* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content .box {
  width: 300px;
  height: 300px;
  position: relative;
}
.box span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: royalblue;
  animation: move linear 3s infinite;
}
.box span:nth-child(1) {
  animation-delay: 0s;
}
.box span:nth-child(2) {
  animation-delay: 0.8s;
}

@keyframes move {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 10px);
    background: crimson;
  }
  50% {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
    background: orchid;
  }
  75% {
    top: calc(100% - 10px);
    left: 0;
    background: yellow;
  }
  100% {
    top: 0;
    left: 0;
  }
}
