@mixin home-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font: 42px/1 "oneB";
    position: relative;
    height: 60px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 155px;
      height: 1px;
      background: #000;
    }
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover p {
      text-decoration: underline;
      text-underline-offset: 8px;
    }
    p {
      font: 20px/1 "oneR";
    }
    i {
      font-size: 20px;
    }
  }
}

@mixin btn {
  button {
    width: 195px;
    height: 45px;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font: 20px/1 "oneR";
    transition: all 0.3s;
    i {
      font-size: 20px;
      margin-left: 10px;
    }
    cursor: pointer;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
