@import "reset";
@import "font";
@import "mixin";
@import "variables";

/*common*/
.wrap {
  width: 100%;
  height: 100%;
}

/*========= index ============*/
.index-section {
  width: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("./img/01index/background.jpg") center/cover no-repeat;
  h1 {
    font: bold 180px/1 "oneB";
    animation: go linear 2s;
  }
  h2 {
    font: 80px/1 "oneR";
    margin: 40px 0 125px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: go linear 1s;
  }
  .index-btn {
    button {
      padding: 10px 20px;
      border-radius: 20px;
      border: 2px solid #fff;
      background: none;
      color: #fff;
      font: 32px/1 "oneB";
      transition: all 0.3s;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}
@keyframes go {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*============= home================*/
/*header*/
.header {
  width: inherit;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #000;
  .inner {
    width: 1450px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .nav {
      display: flex;
      gap: 100px;
      li {
        a {
          font: 20px/1 "oneR";
          &:hover {
            text-decoration: underline;
            text-underline-offset: 8px;
          }
        }
      }
    }
  }
}

/*figure*/
.home-figure {
  width: 100%;
  height: 919px;
  overflow: hidden;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("./img/02main/main1.jpg") center/cover no-repeat;
  .home-text {
    width: 1450px;
    height: 100%;
    margin: 0 auto;
    padding: 520px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h1 {
      position: relative;
      font: 80px/1 "oneB";
      &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        width: 400px;
        height: 3px;
        background: #fff;
      }
    }
    h2 {
      font: 32px/1 "oneB";
      margin: 50px 0 60px;
    }
    a {
      transition: all 0.3s;
      &:hover {
        color: #fdee1a;
      }
      i {
        font-size: 50px;
        margin-right: 20px;
      }
    }
  }
}

/*article*/
.project {
  width: 1450px;
  height: 100%;
  margin: 170px auto 0;
  .article-title {
    @include home-title;
  }
  .project-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    .project-content-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      .project-img-link {
        img {
          width: 400px;
          height: 380px;
          object-fit: cover;
          margin-top: 90px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      }
      p {
        font: 16px/1 "oneL";
        margin: 25px 0 15px;
      }
      a {
        h2 {
          font: 32px/1 "oneR";
        }
      }
      &:hover {
        transform: translateY(-50px);
      }
    }
  }
}
.aboutme {
  width: 1450px;
  height: 100%;
  margin: 240px auto 245px;
  .article-title {
    @include home-title;
    margin-bottom: 55px;
  }
  .aboutme-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 145px;
    .aboutme-background {
      width: 475px;
      height: 645px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: map-get($main-color, mint);
      img {
        width: 300px;
        height: 420px;
        object-fit: cover;
      }
    }
    .aboutme-text {
      display: flex;
      flex-direction: column;
      h4 {
        font: 20px/1 "oneR";
      }
      h1 {
        font: 42px/1 "oneB";
        margin: 55px 0 85px;
      }
      p {
        font: 16px/1 "oneL";
        margin-bottom: 90px;
      }
      a {
        @include btn;
      }
    }
  }
}
.mylife {
  width: 1550px;
  height: 100%;
  margin: 0 auto;
  .article-title {
    width: 1450px;
    margin: 0 auto;
    @include home-title;
  }
  .mylife-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 135px;
    .mylife-img {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      a {
        img {
          width: 300px;
          height: 460px;
          object-fit: cover;
          border-radius: 30px;
        }
      }
      i {
        position: absolute;
        bottom: 25px;
        right: 20px;
        font-size: 30px;
        opacity: 0;
        transition: all 0.3s;
      }
      span {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50px);
        font: 18px/1 "oneL";
        color: #fff;
        opacity: 0;
        transition: all 0.3s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 460px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: all 0.3s;
      }
      &:hover::before {
        opacity: 1;
      }
      &:hover i,
      &:hover span {
        opacity: 1;
      }
    }
  }
}
.contact {
  width: 100%;
  height: 100%;
  margin: 245px auto 0;
  display: flex;
  flex-direction: column;
  background: map-get($main-color, bg);
  .contact-title {
    margin: 200px 0 246px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
      font: 100px/1 "oneB";
    }
    p {
      margin: 90px 0 70px;
      font: 16px/1 "oneL";
    }
    a {
      @include btn;
    }
  }
  .contact-img {
    width: 1450px;
    height: 300px;
    margin: 0 auto 133px;
    position: relative;
    span {
      img {
        width: 150px;
        height: 150px;
      }
      .html-logo {
        position: absolute;
        top: 150px;
        left: 0;
      }
      .css-logo {
        position: absolute;
        top: 0;
        left: 300px;
      }
      .js-logo {
        position: absolute;
        top: 150px;
        left: 600px;
      }
      .git-logo {
        position: absolute;
        top: 0;
        left: 900px;
      }
      .firebase-logo {
        width: 300px;
        height: 85px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
.footer {
  @include foot;
}
