@import url("./reset.css");

#main_top {
  width: 390px;
  height: 120px;
  background: #2cc1bd;
  position: relative;
  border-radius: 0 0 10px 10px;
}
#top_gnb {
  position: absolute;
  left: 15px;
  width: 360px;
  height: 20px;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
}
#top_gnb a {
  color: #fff;
}
#right {
  float: right;
}
#right a {
  padding: 20px;
  font-size: 20px;
  padding: 10px;
}
#top_search {
  position: absolute;
  top: 55px;
  left: 15px;
}
#top_search #search {
  width: 360px;
  height: 50px;
}

#main_section {
  display: block;
  margin-top: 15px;
  width: 390px;
  height: 520px;
}
#main_section_top li {
  float: left;
}
#main_section_top a {
  border: 1px solid #2cc1bd;
  border-radius: 20px;
  padding: 10px 10px;
  background: #fff;
  margin: 5px;
  display: block;
  color: #000;
  font-size: 15px;
}
#main_section_article {
  width: 360px;
  height: 525px;
  margin: 0 auto;
}
#main_section_top_article ul {
  padding: 8px;
}
#main_section_top_article li {
  float: left;
  width: 172px;
  height: 195px;
  border-radius: 10px;
}
#main_section_top_article #img_1 {
  background: url("./img/b_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 0px);
}
#main_section_top_article #img_2 {
  background: url("./img/b_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 0px);
}

#main_section_middle_article li {
  float: left;
  width: 357px;
  height: 80px;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}
#main_section_middle_article #img_3 {
  background: url("./img/b_3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 0px);
}
#main_section_middle_article #img_4 {
  background: url("./img/b_4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 0px);
}
#main_section_bot_article ul {
  padding: 4px;
}
#main_section_bot_article li {
  width: 175px;
  height: 80px;
  float: left;
  border-radius: 10px;
}
#main_section_bot_article #img_5 {
  background: url("./img/b_5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 0px);
}
#main_section_bot_article #img_6 {
  background: url("./img/b_6.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 0px);
}
